# -*- conf -*-
\#*#
.#*
*~
*.bak
*.tmp

.hg/*
.hgignore
build/django
.DS_Store
*.pyc
*.idea*

static/css/.DS_Store

debug.log
/venv/
/htmlcov/
/*.cnf
/signbank.db
/codecov.sh
/signbank/settings/settings_secret.py

# Compiled locale files. (.po files need to be in repo, but not .mo files.)
/locale/*/LC_MESSAGES/*.mo

#[eof]
