# -*- conf -*-
\#*#
.#*
*~
*.bak
*.tmp

.hg/*
.hgignore
build/django
.DS_Store
*.pyc
*.idea*

static/css/.DS_Store

debug.log
/venv/
/htmlcov/
/*.cnf
/signbank.db
/codecov.sh
/signbank/settings/settings_secret.py

#[eof]
