<!DOCTYPE html>
{% load bootstrap3 %}
{% load stylesheet %}
{% load i18n %}
{% load staticfiles %}
{% get_current_language as LANGUAGE_CODE %}
<html lang="{{LANGUAGE_CODE|default:'en'}}">
  <head>
    <title>{% block bootstrap3_title %}{% endblock %}{% trans "Swedish Signbank" %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">

    {% block metadesc %}<meta name="description" content="{% blocktrans context 'meta' %}Swedish Signbank is a lexical database of Swedish Sign Language (STS).{% endblocktrans %}">{% endblock %}

    {% block ogimage %}<meta property="og:image" content="{{ request.scheme }}://{{ request.get_host }}{% static 'img/signbank_logo_ympyra1_sininen-compressor.png' %}">{% endblock %}
    {% block ogdesc %}<meta property="og:description" content="{% blocktrans context 'meta' %}Swedish Signbank is a lexical database of Swedish Sign Language (STS).{% endblocktrans %}">{% endblock %}
    {% block metatitles %}
    <meta property="og:title" content="{% trans "Swedish Signbank" context "meta" %}">
    <meta name="twitter:title" content="{% trans "Swedish Signbank" context "meta" %}">
    {% endblock %}
<script type="application/ld+json">
// Structured data for Google
// Logo
{
  "@context": "http://schema.org",
  "@type": "Organization",
  "url": "{{ request.scheme }}://{{ request.get_host }}",
  "logo": "{{ request.scheme }}://{{ request.get_host }}{% static 'img/signbank_logo_ympyra1_sininen-compressor.png' %}"
}
// Sitelinks searchbox
{
  "@context": "http://schema.org",
  "@type": "WebSite",
  "url": "{{ request.scheme }}://{{ request.get_host }}",
  "potentialAction": {
    "@type": "SearchAction",
    "target": "{{ request.scheme }}://{{ request.get_host }}{% url 'dictionary:public_gloss_list' %}?keyword={search_term_string}",
    "query-input": "required name=search_term_string"
  }
}
</script>
    {% block structureddata %}{% endblock %}
    <link rel="stylesheet" media="screen" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/signbank.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/dataset.css' %}">
    <!-- Favicons -->
    <link rel="apple-touch-icon" sizes="57x57" href="{% static 'favicon/apple-icon-57x57.png' %}">
    <link rel="apple-touch-icon" sizes="60x60" href="{% static 'favicon/apple-icon-60x60.png' %}">
    <link rel="apple-touch-icon" sizes="72x72" href="{% static 'favicon/apple-icon-72x72.png' %}">
    <link rel="apple-touch-icon" sizes="76x76" href="{% static 'favicon/apple-icon-76x76.png' %}">
    <link rel="apple-touch-icon" sizes="114x114" href="{% static 'favicon/apple-icon-114x114.png' %}">
    <link rel="apple-touch-icon" sizes="120x120" href="{% static 'favicon/apple-icon-120x120.png' %}">
    <link rel="apple-touch-icon" sizes="144x144" href="{% static 'favicon/apple-icon-144x144.png' %}">
    <link rel="apple-touch-icon" sizes="152x152" href="{% static 'favicon/apple-icon-152x152.png' %}">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'favicon/apple-icon-180x180.png' %}">
    <link rel="icon" type="image/png" sizes="192x192"  href="{% static 'favicon/android-icon-192x192.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="96x96" href="{% static 'favicon/favicon-96x96.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon/favicon-16x16.png' %}">
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <link rel="manifest" href="{% static 'favicon/manifest.json' %}">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="{% static 'favicon/ms-icon-144x144.png' %}">
    <meta name="theme-color" content="#ffffff">
{% if not user.is_authenticated %}
    {% include "policyconsent.html" %}
{% endif %}
    {% block extrahead %}{% endblock %}
  </head>
  <body>
    <div id="wrap">
        <div class="container">
            <div id="leftcontentborder"></div>
            <div id="rightcontentborder"></div>
            <header id="header" class=bg-primary>{# Translators: Site title #}
                <div class="headerlogo">
                    <h1>
                        <a href="{% url 'root_page' %}" title="{% trans "Swedish Signbank" %}">
                            <img id="logoheadersignbank" src="{% static 'img/signbank-logo.png' %}" alt="{% trans "Swedish Signbank" %}">
                        </a>
                        <span>{% trans "Swedish Signbank" %}</span>
                    </h1>
                </div>
                <div id="langbar">{% include "langbar.html" %}</div>
            </header>
            <div id="menu">
                {% include "menu.html" %}
            </div>
            {% bootstrap_messages %}
            <main role="main">
            {% block content %}{% blocktrans %}(No content){% endblocktrans %}{% endblock %}
            </main>
        </div>
    </div>
    <footer id="footer">
       <div id="footercontainer" class="container">
            <div class="footerbg">
                <table id="license">
                  <tr>
                    <td style="padding:0">
                      {% if LANGUAGE_CODE == 'sv' %}
                        <a href="http://creativecommons.org/licenses/by-nc-sa/2.5/se/" target="_blank">
                        <img src="{% static 'img/sharerules.png' %}" title="Licens för lexikoninnehåll: CC-BY-NC-SA" >
                      {% else %}
                        <a href="http://creativecommons.org/licenses/by-nc-sa/2.5/" target="_blank">
                        <img src="{% static 'img/sharerules.png' %}" title="Dictionary content license: CC-BY-NC-SA">
                      {% endif %}
                      </a>
                    <td style="text-align:left;padding-left:.5em">
                      {% if LANGUAGE_CODE == 'sv' %}
                        Svensk teckenbank skapades och underhålls av:
                        <a href="http://www.ling.su.se/teckenspr%C3%A5k"
                        target="_blank">Avdelningen för teckenspråk,
                        Institutionen för lingvistik, Stockholms
                        universitet</a>.
                        <br>Licens för innehållet:
                        <a href="http://creativecommons.org/licenses/by-nc-sa/2.5/se/" target="_blank">Creative Commons Erkännande/icke-kommersiell/dela-lika 2.5</a>.
                        License för källkod: <a href="https://github.com/zrajm/FinSL-signbank/blob/master/LICENSE" target="_blank">3-Clause BSD License</a>.
                      {% else %}
                        Swedish Signbank created and maintained by:
                        <a href="https://www.ling.su.se/english/sign-language-section"
                        target="_blank">Sign Language Section, Department of
                        Linguistics, Stockholm university</a>.
                        <br>Content license:
                        <a href="http://creativecommons.org/licenses/by-nc-sa/2.5/"
                        target="_blank">Creative Commons Attribution/Non-Commercial/Share-Alike 2.5</a>.
                        Source code license: <a href="https://github.com/zrajm/FinSL-signbank/blob/master/LICENSE" target="_blank">3-Clause BSD License</a>.
                      {% endif %}
                </table>
            </div>
        </div>
    </footer>
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>

<script>
$('a.close').on('click', function(event){
    event.preventDefault();
    event.stopPropagation();
    var parent = $(this).parent();
    $.get(event.currentTarget.href).done(function () {
        parent.remove();
        var badge = $('#live_notify_badge');
        var val = parseInt(badge.text())
        badge.text(val - 1);
        if (val - 1 <= 0) {
            $('button#notifications-list').removeClass('btn-danger');
        }
    });
});
$('a#notifications_mark_all_read').on('click', function(event){
    event.preventDefault();
    event.stopPropagation();
    $.get(event.currentTarget.href).done(function () {
        $('div.notification').remove();
        var badge = $('#live_notify_badge');
        badge.text("0");
        $('button#notifications-list').removeClass('btn-danger');
    });
});
</script>
    {% block extrajs %}{% endblock %}
  </body>
</html>
    

  
